{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Log in" %}{% endblock title %}

{% block content %}
<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/icon.svg' %}" alt="icon" />
      </a>
      <h3>Account Login</h3>
      <p>Hello Developer, Welcome Back!</p>
    </div>

    <form action="" method='post' class="form auth__form">
      {% csrf_token %}
      <div class="form__field">
        <label for="id_username">Username: </label>
        <input
          class="input input--text"
          id="id_username"
          type="text"
          name="username"
          autofocus="" 
          autocapitalize="none" 
          autocomplete="username" 
          maxlength="150" 
          required=""
          placeholder="Enter your username..."
        />
      </div>

      <div class="form__field">
        <label for="fid_password">Password: </label>
        <input
          class="input input--password"
          id="id_password"
          type="password"
          name="password"
          autocomplete="current-password"
          required=""
          placeholder="••••••••"
        />
      </div>
      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
        <a href="{% url 'auth_password_reset' %}">{% trans "Forgot your password?" %}</a>
      </div>
    </form>
    <div class="auth__alternative">
      <p>{% trans "Not a member?" %}</p>
      <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
    </div>
  </div>
</div>
{% endblock %}
