{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="javascript:window.history.back()"><i class="im im-angle-left"></i></a>
                <br>

                <form class="form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    {% if form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" style="font-size: 11px" role="alert">
                        {{ form.non_field_errors }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% endif %}
                        
                    <div class="form__field">
                        {% for field in form %}
                            <p>{{ field.label_tag }}</p>
                            <p>{{ field.errors }}</p>
                            <p>{{ field }}</p>
                            <p>{{ field.help_text }}</p>
                        {% endfor %}
                    </div>
                    
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock %}